# Dependencies
node_modules
client/node_modules
server/node_modules

# Environment variables
.env
server/.env
client/.env.local

# Build outputs
dist
client/dist
server/dist

# OS
.DS_Store

# IDE
.vscode
.idea
*.swp
*.swo

# Logs
*.log
npm-debug.log*